@font-face {
    font-family: 'Poppins';
    src: url('./font/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    background-color: #F5F5F5;

}

#header{
    display: flex;
    justify-content: space-between; /* I'm using space-between to push the items to either side.*/
    align-items: center;
}

h1 a{
    text-decoration: none;

}
a{
    text-decoration: none;
    color: black !important;
}

#nav-links{
    text-decoration: none;
    list-style-type: none;
}

.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
}

#filter-column{
    display: flex;
    flex-direction: column;
    flex: 1;
}

#data-display-column{
    display: flex;
    flex-direction: column;
    flex: 2;
}

#cruiseCatalogue{
    display: grid;
    grid-template-columns: repeat(2,1fr); /* 2 columns of equal width*/
    gap: 20px;
}

.cruise-item{
    background-color: #FFFF;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
